package cognitive

templ CPT(questionID string, settingsJSON string, cspNonce string) {
	<div 
		id="cpt-container" 
		class="p-4 text-center" 
		data-question-id={ questionID } 
		data-settings={ settingsJSON }
	>
		<p>Initializing Test...</p>
	</div>
}